/*Code Optimization*/
.over-flow-hidden{
    overflow: hidden;
}
.Flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.J-Center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.J-Between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.J-Around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.A-Center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.Relative{
    position: relative;
}
.Absolute{
    position: absolute;
}
.Gill{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Animation_3s{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
/*index.html*/
.news-background{
    padding: 50px 0;
    background-color: #304944;
    padding-left: 4.375rem;
}
.news-background h4 , .section-container{
    color: white;
}
.news-background{
    font-size: 23px;
}
.sec-box{
    padding: 30px 0;
    border-top: solid 1px rgba(255,255,255,0.5);
}
.section-container{
    margin-top: 30px;
    max-width: 900px;
}
.sec-box div{
    margin-top: 12px;
}
.sec-box .date , .sec-box h5{
    margin-top: 8px;
}
.date{
    font-size: 12px;
}
.p-box{
    padding-left: 15px;
}
.p-box p{
    font-size: 15px;
}
.sec-box h5{
    font-size: 21px;
}
/*footer*/
.footer{
    padding: 50px 50px;
}
.footer a{
    font-size: 16px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: white;
}
.footer a:hover{
    color: rgb(255, 21, 13);
}
.f-logo{
    width: 138px;
    margin-right: 10px;
}
.f-logo img{
    border-radius: 10px;
}
/*responsive navigation*/
.responsive-cont{
    z-index: 100;
    position: fixed;
    padding: 10px 36px;
}
.rs-nav-img{
    width: 220px;
}
.burger{
    width: 50px;
    height: 50px;
}
.menu{
    background-image: url("../icons/list-burger-icon.png");
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.active-menu{
    background-image: url("../icons/close.png");
}
.burger:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.nav-menu{
    height: 100vh;
}
.resp ul , .game-navigation a{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ul-list-resp{
    margin-top: 70px;
}
.li-a-resp{
    font-size: 40px;
}
.none{
    display: none;
}
.d-blk{
    display: block;
}
.game-outlast , .responsive-cont , .footer , .box-desc:hover , .book-bg:hover{
    background-color: #1e1e1e;
} 
/*Responsive Game Navigation*/
.game-outlast{
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    z-index: 50;
}
.next-box{
    width: 300px;
}
.game-navigation a h5{
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    margin-top: 10px;
}
.game-nav-img img{
    border-radius: 15px;
}
.back , .snow-flake img{
    width: 40px;
}
.back{
    top: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
}
/*margin / transform translate / white*/
.transform-85{
    -webkit-transform: translateY(85px);
            transform: translateY(85px);
}
.padding-120{
    padding-top: 120px;
}
.white{
    color: white;
}
.f-span{
    color: #68625e;
    font-family: Arial, Helvetica, sans-serif;
}
/*Footer Snowflake*/
.snow-flake{
    top: 6px;
}
.snow-flake:nth-child(2){
    right: 0;
}
/*gamepadding*/
.game-padding{
    padding: 0;
}
/* Outlast Page
Outlast is a true survival horror experience which aims 
to show that the most terrifying monsters of all come from t
he human mind. Features: True Survival Horror Experience: You are no fighter - 
if you want to survive the horrors of the asylum, your only 
chance is to run... or hide.
*/
.outl-background{
    background-image: url("../background-image/Outlast-Header.jpg");
    background-size: cover;
    background-position: right;
    /* height: 58vh; */
}
.trailer-box{
    max-width: 240px;
}
.trailer-box:last-child{
    margin-left: 20px;
}
.outlast-description , .row{
    padding: 0 70px;
}
.outlast-description{
    padding-top: 60px;
    padding-bottom: 60px;
}
.row{
    bottom: 50px;
}
.box-desc{
    padding: 4.375px 0 4.375px 8.75px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    height: 40px;
}
.box-desc , .download , .general-ul , .book-bg{
    background-color: #d2281e;
}
.box-desc-span{
    font-size: 12px;
    font-weight: bold;
}
.box-desc-img{
    width: 44px;
    padding-right: 5px;
}
.sticker{
    width: 1px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
}
.download{
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 24px;
    padding: 30px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.download:hover{
    background-color: blueviolet;
}
.download::after{
    content: " ";
    background-image: url("../icons/gift.svg");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.ou-desc{
    margin-top: 20px;
    line-height: 30px;
    font-size: 19px;
}
h1 , .outlast-hh2{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.h1-outlast-container{
    border-right: 1px solid #aaa;
    padding-right: 60px;
    width: 50%;
}
.general , .general-box{
    width: 50%;
}
.general-box:nth-child(2){
    padding: 0 10px;
}
.general-info{
    margin-top: 10px;
}
.general-info , .general-p{
    color: #68625e;
}
.general-p{
    font-weight: bolder;
    margin-top: 5px;
    line-height: 30px;
}
.general-span{
    font-weight: 300;
}
.general-box:nth-child(1){
    margin-left: 60px;
    font-size: 20px;
}
/* .general-box{
    width: 25%;
} */
.general-box:nth-child(1) img{
    margin-top: 23px;
}
/* opt*/
.outlast-jpg , 
.screen img , 
.trailer-box img , 
.row , .trailer-box , 
.outl-background , 
.back img , .game-nav-img img , 
.rs-nav-img img , .responsive-cont , .game-outlast , .nav-menu , .f-logo img ,
.book-item img{
    width: 100%;
}
.general-ul{
    -webkit-transform:translateY(-5px);
            transform:translateY(-5px);
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.general-ul li:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.general-ul li{
    padding: 12px 5px;
}
.general-ul li a{
    font-weight: bold;
}
.general-ul li a:hover {
    color: cyan;
}
.download-svg{
    width: 20px;
}
.whisteblower-background{
    background-color: #EFEFEF;
}
/*Videos*/
.video-box ,.screenshoot-background{
    padding: 50px 40px;
    background-color: #304944; 
}
.align-center-h3 , .screen-h4{
    text-align: center;
    font-size: 26px;
}
.video-container , .screen-wrapper , .game-navigation{
    margin-top: 40px;
}
.video-container iframe{
    width: 1024px;
    height: 580px;
}
.screenshoot-background{
    background-color: #68625e;
}
.screen-wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.screen{
    width: 25%;
    padding: 38px 20px;
}
.screen img {
    border-radius: 5px;
}
/*Outlast 2 HERE
Outlast 2 is a first-person psychological horror survival 
video game developed and published by Red Barrels
*/
.outlast2-banner{
    background-image: url("../background-image/outlast-2-banner.png");
}
.outlast-2-download{
    bottom: 60px;
    right: 60px;
}
/*Outlast Trials HERE
The Outlast Trials is an upcoming first-person 
psychological horror survival video game developed 
and published by Red Barrels. It is the third installment
in the Outlast series, serving as a prequel to the
first two games and features test subjects
in a mysterious Cold War experiment.
*/
.Outlast-trials-bg{
    background-image: url("../background-image/OutlastTrailsPageDesktopImage.jpg");
    background-position: center;
}
/*COMICS*/
.cb-background{
    background-image: url("../background-image/ComicHeader-1920x524.jpg");
    background-position: center;
    background-size: cover;
    min-height: 28vw;
}
.books-wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.outl-background{
    min-height: 30vw;
}
.comics , .books{
    padding: 60px 70px;
}
.comics h1{
    margin-bottom: 30px;
}
.book-bg{
    padding: 20px;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    font-size: 20px;
}
.book-item{
    padding: 1vw;
    width: 19%;
}
.onclick-blur{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.download-container{
    background-image: url("../background-image/background-image-christms.jpg");
    background-size: cover;
    top: 40%;
    left: 50%;
    background-color: white;
    -webkit-transform: translate(-50% , -38%);
            transform: translate(-50% , -38%);
    width: 700px;
    height: 500px;
    z-index: 690;
    padding: 30px 30px;
    border-radius: 10px;
    position: fixed;
} 
.outlast-download{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
}
.outlast-download img ,form{
    width: 90%;
}
.outlast-clicker{
    padding: 13px 30px;
    background-color: red;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}
.outlast-clicker::after , .outlast-clicker::before{
    content: " ";
    background-image: url("../icons/christmas-wreath.png");
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.outlast-clicker::after{
    margin-left: 20px;
}
.outlast-clicker::before{
    margin-right: 20px;
}
.input-wrapper{
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.button-active{
    background-color:rgb(34, 105, 21);
}
.token{
    margin-top: 25px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    padding-left: 10px;
}
.token-click{
    margin-top: 15px;
    background-color: #d2281e;
    border-radius: 5px;
    padding: 5px;
}
.cloose{
    top: 0;
    right: 0;
    width: 20px;
    -webkit-transform:translate(20px , -30px);
            transform:translate(20px , -30px);
}
.cloose img{
    width: 30px;
}