/*Code Optimization*/
.Flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.J-Center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.J-Between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.J-Around{
    justify-content: space-around;
}
.A-Center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.Relative{
    position: relative;
}
.Absolute{
    position: absolute;
}
.Gill{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Animation_3s{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*index.html*/
.news-background{
    padding: 50px 0;
    background-color: #304944;
    padding-left: 4.375rem;
}
.news-background h4 , .section-container{
    color: white;
}
.news-background{
    font-size: 23px;
}
.sec-box{
    padding: 30px 0;
    border-top: solid 1px rgba(255,255,255,0.5);
}
.section-container{
    margin-top: 30px;
    max-width: 900px;
}
.sec-box div{
    margin-top: 12px;
}
.sec-box .date , .sec-box h5{
    margin-top: 8px;
}
.date{
    font-size: 12px;
}
.p-box{
    padding-left: 15px;
}
.p-box p{
    font-size: 15px;
}
.sec-box h5{
    font-size: 21px;
}
/*footer*/
.footer{
    padding: 50px 50px;
    background-color: #1e1e1e;
}
.footer a{
    font-size: 16px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: white;
}
.footer a:hover{
    color: rgb(255, 21, 13);
}
.f-logo{
    width: 138px;
    margin-right: 10px;
}
.f-logo img{
    width: 100%;
    border-radius: 10px;
}
/*responsive navigation*/
.responsive-cont{
    width: 100%;
    background-color: #1e1e1e;
    z-index: 100;
    position: fixed;
    padding: 25px 3.75rem;
}
.rs-nav-img{
    width: 220px;
}
.rs-nav-img img{
    width: 100%;
}
.burger{
    width: 50px;
    height: 50px;
}
.menu{
    background-image: url("../icons/list-burger-icon.png");
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.active-menu{
    background-image: url("../icons/close.png");
}
.burger:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.nav-menu{
    width: 100%;
    height: 100vh;

}
.resp ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ul-list-resp{
    margin-top: 70px;
}
.li-a-resp{
    font-size: 40px;
}
.none{
    display: none;
}
.d-blk{
    display: block;
}
/*Responsive Game Navigation*/
.game-outlast{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 50;
    background-color: #1e1e1e;
}
.game-navigation{
    margin-top: 40px;
}
.game-navigation a{
    flex-direction: column;
}
.next-box{
    width: 300px;
}
.game-navigation a h5{
    font-size: 25px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    margin-top: 10px;
}
.game-nav-img img{
    width: 100%;
    border-radius: 15px;
}
.back{
    width: 40px;
    top: 0;
    transform: translateY(-20px);
}
.back img{
    width: 100%;
}
/*margin / transform translate / white*/
.transform-85{
    transform: translateY(85px);
}
.padding-120{
    padding-top: 120px;
}
.white{
    color: white;
}
.f-span{
    color: #68625e;
    font-family: Arial, Helvetica, sans-serif;
}
/*Footer Snowflake*/
.snow-flake{
    top: 6px;
}
.snow-flake img{
    width: 40px;
}
.snow-flake:nth-child(2){
    right: 0;
}
/*gamepadding*/
.game-padding{
    padding: 0;
}
/* Outlast Page
Outlast is a true survival horror experience which aims 
to show that the most terrifying monsters of all come from t
he human mind. Features: True Survival Horror Experience: You are no fighter - 
if you want to survive the horrors of the asylum, your only 
chance is to run... or hide.
*/
.outl-background{
    background-image: url("../background-image/Outlast-Header.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 58vh;
}
.trailer-box{
    max-width: 240px;
    width: 100%;
}
.trailer-box:last-child{
    margin-left: 20px;
}
.trailer-box img {
    width: 100%;
}
.outlast-description , .row{
    padding: 0 70px;
}
.outlast-description{
    padding-top: 60px;
    padding-bottom: 60px;
}
.row{
    bottom: 50px;
    width: 100%;
}
.box-desc{
    padding: 4.375px 0 4.375px 8.75px;
    transform: translateY(-5px);
    height: 40px;
}
.box-desc , .download , .general-ul{
    background-color: #d2281e;
}
.box-desc-span{
    font-size: 12px;
    font-weight: bold;
}
.box-desc-img{
    width: 44px;
    padding-right: 5px;
}
.sticker{
    width: 1px;
    height: 20px;
    background-color: white;
    margin-right: 10px;
}
.box-desc:hover{
    background-color: #1e1e1e;
}
.download{
    align-self: flex-end;
    font-size: 24px;
    padding: 30px 50px;
    border-radius: 20px;
    cursor: pointer;
}
.download:hover{
    background-color: blueviolet;
}
.download::after{
    content: " ";
    background-image: url("../icons/gift.svg");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.ou-desc{
    margin-top: 20px;
    line-height: 30px;
}
h1{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.h1-outlast-container{
    border-right: 1px solid #aaa;
    padding-right: 60px;
    width: 50%;
}
.general{
    width: 50%;
}
.general-info{
    margin-top: 10px;
}
.general-info , .general-p{
    color: #68625e;
}
.general-p{
    font-weight: bolder;
    margin-top: 5px;
    line-height: 30px;
}
.general-span{
    font-weight: 300;
}
.general-box:nth-child(1){
    margin-left: 60px;
    font-size: 20px;
}
/* .general-box{
    width: 25%;
} */
.general-box:nth-child(1) img{
    margin-top: 23px;
}
.outlast-jpg{
    width: 100%;
}
.general-ul{
    transform:translateY(-5px);
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.general-ul li:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.general-ul li{
    padding: 12px 5px;
}
.general-ul li a{
    font-weight: bold;
}
.download-svg{
    width: 20px;
}