/*background image responsive / background picture*/
@media(max-width: 1150px){
    .background-image{
        top: 15%;
        left: 300px;
        width: 360px;
    }
    .left, .right{
        width: 40px;
        height: 40px;
    }
    .left img, .right img{
        width: 20px;
    }
    .slider-box{
        width: 180px;
    }
    .slider-box .name{
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
    }
}
@media(max-width:1000px){
    .games{
        display: none;
    }
    .slider-box{
        display: none;
    }
    .nav{
        display: none;
    }
    .background-image{
        top: 40%;
        left: 270px;
    }
    .responsive-cont {
        display: block;
    }
    .left, .right{
        top: 50%;
    }
    .news-background{
        padding: 50px 50px;
    }
    .footer , .rght{
        flex-direction: column;
    }
    .f-logo{
        margin: 20px 0;
    }
    .f-span{
        font-size: 14px;
        text-align: center;
    }
}
@media(max-width: 760px){
    .background-image{
        top: 50%;
        left: 150px;
    }
    .responsive-cont{
        padding: 10px 3.75rem;
    }
    .news-background h4{
        text-align: center;
    }
}
@media(max-width: 580px){
    .background-image{
        width: 290px;
    }
    .left, .right{
        height: 30px;
        width: 30px;
    }
    .rs-nav-img{
        width: 160px;
    }
    .sec-box{
        text-align: center;
    }
    .footer{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer a{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .footer a::before{
        content: " ";
        background-image: none;
        margin-right: 0;
        width: 0;
        height: 0;
    }
    .responsive-cont{
        padding: 10px 20px;
    }
    .f-span{
        font-size: 12px;
    }
}
@media (max-width: 520px){
    .next-box{
        width: 260px;
    }
    .back{
        width: 30px;
        transform: translateY(-40px);
    }
}
@media(max-width: 490px){
    .background-image{
        left: 20px;
        top: 60%;
        width: 300px;
    }
    .rs-nav-img{
        width: 120px;
    }
    .menu{
        width: 30px;
        height: 30px;
    }
    .burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer a{
        font-size: 16px;
    }
    .snowflake{
        font-size: 20px;
    }
}
@media(max-width: 440px){
    .sec-box h5{
        margin: 20px 0;
        line-height: 25px;
    }
    .p-box p{
        line-height: 30px;
    }
    .next-box{
        width: 210px;
    }
    .game-navigation{
        margin-top: 60px;
    }
}
/*low resolution*/
@media(max-width: 355px){
    .background-image{
        width: 270px;
    }
    .footer a{
        font-size: 14px;
    }
}