/*background image responsive / background picture*/
@media(max-width: 1150px){
    .screen{
        width: 50%;
    }
    .background-image{
        top: 15%;
        left: 300px;
        width: 360px;
    }
    .left, .right{
        width: 40px;
        height: 40px;
    }
    .left img, .right img{
        width: 20px;
    }
    .slider-box{
        width: 180px;
    }
    .slider-box .name{
        font-size: 14px;
    }
    .slider-img{
        width: 100%;
    }
    /*Outlast 1*/
    .outl-background{
        background-position: center;
    }
    .general-box:nth-child(1){
        font-size: 17px;
    }
}
@media(max-width:1000px){
    .games{
        display: none;
    }
    .slider-box{
        display: none;
    }
    .nav{
        display: none;
    }
    .background-image{
        top: 40%;
        left: 270px;
    }
    .responsive-cont {
        display: block;
    }
    .left, .right{
        top: 50%;
    }
    .news-background{
        padding: 50px 50px;
    }
    .footer , .rght{
        flex-direction: column;
    }
    .f-logo{
        margin: 20px 0;
    }
    .f-span{
        font-size: 14px;
        text-align: center;
    }
    .outlast-navigation{
        display: flex;
        padding: 20px 40px;
        height: 10vh;
        position: fixed;
        width: 100%;
        z-index: 40;
    }
    .social, .navv{
        display: none;
    }
    .burger{
        display: block;
    }
    .outl-resp-cont{
        display: none;
    }
    .download{
        align-self: initial;
        justify-content: center;
        margin-top: 20px;
        padding: 20px 40px;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .trailer-box{
        max-width: 200px;
    }
    .general{
        align-items: center;
    }
}
@media(max-width: 990px){
    .outlast-description{
        flex-direction: column;
        align-items: center;
    }
    .h1-outlast-container{
        border-right: none;
        padding-right: initial;
        width: 100%;
        border-bottom: 1px solid #aaa;
        padding-bottom: 60px;
    }
    .outlast-jpg{
        display: none !important;
    }
    .general{
        width: 100%;
        padding-top: 61px;
    }
    .general-box {
        width: 50%;
    }
    .general-box:nth-child(1){
        margin-left: 0px;
    }
}
@media(max-width: 760px){
    .background-image{
        top: 50%;
        left: 150px;
    }
    .responsive-cont{
        padding: 10px 3.75rem;
    }
    .news-background h4{
        text-align: center;
    }
    .general{
        flex-direction: column;
        align-items: initial;
    }
    .general-box:nth-child(2){
        padding: 36px 0;
    }
    .general-box{
        width: 100%;
    }
    .general-box:nth-child(1){
        font-size: 14px;
    }
    .ou-desc{
        font-size: 15px;
    }
    .general-ul li a{
        font-size: 14px;
    }
    .general-box:nth-child(1) img{
        width: 120px;
    }
}
@media(max-width: 650px){
    .video-container iframe{
        width: 540px;
        height: 280px;
    }
}
@media(max-width: 580px){
    .video-container iframe{
        height: 240px;
    }
    .screen{
        width: 100%;
    }
    .ou-desc{
        font-size: 12px;
    }
    h1, .outlast-hh2{
        font-size: 35px;
    }
    .outlast-description{
        padding: 0 40px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .trailer-box:last-child{
        margin-left: 0;
        margin-top: 20px;
    }
    .download{
        display: none;
    }
    .background-image{
        width: 290px;
    }
    .left, .right{
        height: 30px;
        width: 30px;
    }
    .rs-nav-img{
        width: 160px;
    }
    .sec-box{
        text-align: center;
    }
    .footer , .flex-cont-outlast{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer a{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .footer a::before{
        content: " ";
        background-image: none;
        margin-right: 0;
        width: 0;
        height: 0;
    }
    .responsive-cont{
        padding: 10px 20px;
    }
    .f-span{
        font-size: 12px;
    }
    .li-a-resp{
        font-size: 25px;
    }
    .row{
        bottom: 20px;
    }
}
@media(max-width: 540px){
    .game-navigation{
        margin-top: 10px;
    }
    .outl-background{
        background-image:url("../images/Outlast-Header-MOB.jpg");
    }
}
@media (max-width: 520px){
    .next-box{
        width: 260px;
    }
    .back{
        width: 30px;
    }
    .game-navigation a h5{
        font-size: 18px;
    }
}
@media(max-width: 490px){
    .video-container iframe{
        height: 210px;
        width: 100%;
    }
    .align-center-h3, .screen-h4 {
        font-size: 19px;
    }
    .background-image{
        left: 20px;
        top: 60%;
        width: 270px;
    }
    .rs-nav-img{
        width: 120px;
    }
    .menu{
        width: 30px;
        height: 30px;
    }
    .burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer a{
        font-size: 16px;
    }
    .snowflake{
        font-size: 20px;
    }
}
@media(max-width: 440px){
    h1, .outlast-hh2{
        text-align: center;
    }
    .ou-desc{
        font-size: 11px;
        text-align: center;
    }
    .sec-box h5{
        margin: 20px 0;
        line-height: 25px;
    }
    .p-box p{
        line-height: 30px;
    }
    .next-box{
        width: 210px;
    }
}
@media(max-width: 390px){
    .background-image{
        width: 220px;
    }
}
/*low resolution*/
@media(max-width: 355px){
    .screen{
        padding: 0;
        margin-top: 40px;
    }
    .ul-list-resp{
        margin-top: 40px;
    }
    .li-a-resp{
        font-size: 18px;
    }
    .next-box{
        width: 190px;
    }
    .background-image{
        width: 182px;
    }
    .footer a{
        font-size: 14px;
    }
}
@media(max-height: 730px){
    .trailer-box:last-child{
        display: none;
    }
    .row{
        bottom: 50px;
    }
}
@media(max-height: 500px){
    .row{
        bottom: 20px;
    }
}