.header-background{
    /* background-image: url("../background-image/Outlast-trials.jpg");default */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 82vh;
}

.left , .right{
    top: 38%;
    height: 50px;
    width: 50px;
    background-color: rgb(78, 68, 49);
    border-radius: 50%;
}
.left img , .right img{
    width: 30px;
}
.left {
    left: 20px;
}
.right{
    right: 20px;
}
.nav{
    background-color: rgb(30, 30, 30);
    height: 18vh;
    padding: 2.5rem 3.75rem;
}
.games{
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}
/*Outlast*/
.game-list{
    padding: 30px 40px;
}
.game-list .game-a{
    color: #1e1e1e;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
.game-list:hover .game-a{
    color: rgb(58, 140, 194);
}
.ul-list{
    margin: 0 30px;
}
.ul-list:hover .li-a , .li-a-resp:hover{
    color: white;
}
.ul-list a , .li-a-resp{
    color: #8e8e8e;
}
.name , .ul-list a{
    font-size: 18px;
}
.social-box{
    width: 30px;
    height: 30px;
}
.social-box:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.social-box:not(:last-child){
    margin-right: 8px;
}
.nav-img{
    width: 200px;
}
.background-image{
    position: absolute;
    top: 20%;
    left: 390px;
}
/*SliderBox*/
.slider-box{
    width: 210px;
    cursor: pointer;
    bottom: 50px;
}
.slider-box img , .nav-img img{
    width: 100%;
}
.slider-box:last-child{
    right: 0;
}
.name{
    width: 100%;
    color: white;
    background-color: #d2281e;
    height: 44px;
    padding: 5px 10px;
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    font-weight: bolder;
}
/*SLIDER BOX HOVER*/
.slider-box:hover{
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
/*slider backgrounds*/
#ol-1{
    background-image: url("../background-image/Outlast-trials.jpg");
}
#ol-2{
    background-image: url("../background-image/chair-outlast.jpg");
}
#ol-3{
    background-image: url("../background-image/Accueil-Outlast-1920x1080.jpg");
}
#ol-4{
    background-image: url("../background-image/Outlast_Whistleblower.jpg");
}